<div id="completed-workout-card" class="card">
  <h1>Good Workout!</h1>
  <p>Last Total Volume: <span class="comparison">&lt;</span> 150 lbs</p>
  <p>New Total Volume: <span class="comparison">&gt;</span> 150 lbs</p>
</div>