<div class="frame">
  <div id="workout-list-header" class="header">
    <h2>It's [LEG] day!</h2>
  </div>
  <div id="workout-list" class="workout-list">
    <div class="exercise">
      <p>Back Squat</p>
      <p>5 x 5</p>
      <p>225 lbs</p>
    </div>

  </div>
  <button id="finish-workout-btn" class="finish-workout">Finish Workout</button>
</div>