<div class="login-container container ">
        <div class="section login login-section">
            <h2>Login</h2>
            <form>
                <input type="text" placeholder="Email" id="login-email">
                <input type="password" placeholder="Password" id="login-password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="divider"></div>
        <div class="section create-account login-section">
            <h2>Create Account</h2>
            <form>
                <input type="text" placeholder="Username" id="create-account-username">
                <input type="text" placeholder="email" id="email">
                <input type="password" placeholder="Password" id="create-account-password">
                <button type="submit">Create Account</button>
            </form>
        </div>
    </div>

<script src="/js/login.js"></script>