<div class="card">
  <h2>Create an Account</h2>
   <form class="register-form">
        <input type="text" id="create-account-username" placeholder="Username">

        <input type="text" id="create-account-email" placeholder="Email">

        <input type="password" id="create-account-password" placeholder="Password">

        <button id="create-account-btn" type="submit">Sign Up</button>
    </form>
<script src="/js/register.js"></script>