{{!-- SELECTION MODAL --}}
<div id="selection-modal-hide"class="">
<div id="selection-modal" class="container">
  <h2>What are we working out today?</h2>
  <div class="workout-type-buttons">
    <button id="legs-btn" class="workout-btn">Legs</button>
    <button id="pull-btn" class="workout-btn">Pull</button>
    <button id="push-btn" class="workout-btn">Push</button>
  </div>
</div>
</div>


{{!-- FULL WORKOUT MODAL --}}
<div class="frame hide" id="full-workout-modal">
  <div id="workout-list-header" class="header">
    <h2>Time to Workout</h2>
  </div>
  <div id="workout-list" class="workout-list">
    <div class="exercise">
      <p>Just one moment...</p>
    </div>
    
    </div>
<button id="finish-workout-btn" class="finish-workout">Finish Workout</button>
  </div>
  
</div>

{{!-- SINGLE WORKOUT MODAL --}}
<div class="container hide" id="single-workout-modal">
  <div class="exercise-description">
    <h2>Legs</h2>
    <p id="short-instructions">Instructions exercise here..</p>
    <button id="instructions-btn" class="instructions-btn">Instructions</button>
  </div>
  <div class="sets">
    <div id="set1" class="set"><span>1:</span>
      <input type="number" placeholder="reps" class="reps" />
      <p class="last last1">Last:</p>
      <input type="number" placeholder="weight" class="weight" />
      <p class="last last2">Last:</p>
    </div>
    <div id="set2" class="set"><span>2:</span>
      <input type="number" placeholder="reps" class="reps" />
      <p class="last last1">Last:</p>
      <input type="number" placeholder="weight" class="weight" />
      <p class="last last2">Last:</p>
    </div>
    <div id="set3" class="set"><span>3:</span>
      <input type="number" placeholder="reps" class="reps" />
      <p class="last last1">Last:</p>
      <input type="number" placeholder="weight" class="weight" />
      <p class="last last2">Last:</p>
    </div>
    <div id="set4" class="set"><span>4:</span>
      <input type="number" placeholder="reps" class="reps" />
      <p class="last last1">Last:</p>
      <input type="number" placeholder="weight" class="weight" />
      <p class="last last2">Last:</p>
    </div>
    <div id="set5" class="set"><span>5:</span>
      <input type="number" placeholder="reps" class="reps" />
      <p class="last last1">Last:</p>
      <input type="number" placeholder="weight" class="weight" />
      <p class="last last2">Last:</p>
    </div>
  </div>
  <button id="finish-sets-btn" class="finish-btn">Finish Sets</button>
</div>
<div id="instructions-modal" class="modal hide">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>How to:</h2>
    <p id="full-instructions"></p>
  </div>
  
</div>



{{!-- Finished Workout Modal --}}
<div id="completed-workout-modal" class="card hide">
  <h1>Good Workout!</h1>
  <p>We're so proud of you. Look at you lifting those weights.</p>
  
  <button id="restart-btn" class="finish-workout">Finish Workout</button>
</div>

<script src="/js/selection.js"></script>