<div class="card-workout">
  <select id="workout-type-selector" class="dropdown-menu">
    <option value="legs">Legs</option>
    <option value="push">Pull</option>
    <option value="pull">Push</option>
  </select>
  <button id="start-workout-btn" class="start-button">Start</button>

</div>