<div class="container">
  <div id="workout-name-and-description" class="exercise-description">
    <h2>Legs</h2>
    <p>Instructions excercise here..</p>
  </div>
  <div class="sets">
    <div id="set1" class="set"><span>Set 1:</span>
      <input type="number" placeholder="reps" />
      <input type="number" placeholder="weight" /></div>
    <div id="set2" class="set"><span>Set 2:</span>
      <input type="number" placeholder="reps" />
      <input type="number" placeholder="weight" /></div>
    <div id="set3" class="set"><span>Set 3:</span>
      <input type="number" placeholder="reps" />
      <input type="number" placeholder="weight" /></div>
    <div id="set4" class="set"><span>Set 4:</span>
      <input type="number" placeholder="reps" />
      <input type="number" placeholder="weight" /></div>
    <div id="set5" class="set"><span>Set 5:</span>
      <input type="number" placeholder="reps" />
      <input type="number" placeholder="weight" /></div>
  </div>
  <button id="finish-sets-btn" class="finish-btn">Finish Workout</button>
</div>