body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

button, .logout-button {
  background-color: #D35400;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px auto;
  display: block;
}

button:hover {
  background-color: #E67E22;
}

.dropdown-menu {
  background-color: #333;
  color: white;
  border: 1px solid #444;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.card, .frame, .container, .modal-content {
  background-color: #1E1E1E;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: auto;
}

input[type="number"] {
  max-width: 100px;
}

.sets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.set {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.set span {
  white-space: nowrap;
}

#set5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

#set5 span, #set5 input[type="number"] {
  flex: 0 0 auto;
}

#set5 input[type="number"] {
  width: auto;
  padding: 8px;
}

.set input[type="number"] {
  width: 100%;
  padding: 8px;
}

input[type="number"], input[type="text"], input[type="password"] {
  background-color: #333;
  color: white;
  border: 1px solid #444;
  padding: 10px;
  margin: 10px 0;
  display: block;
  width: calc(100% - 20px);
}

.exercise, .exercise-description {
  background-color: #262626;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.close {
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: white;
}

@media (max-width: 768px) {
  .card, .frame, .container, .modal-content {
      width: 95%;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Increase if necessary to ensure it's on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Dim the background */
}


.modal-content {
  background-color: #1E1E1E; /* Dark background for the modal content */
  color: #FFFFFF; /* Ensure text is visible against the dark background */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888; /* Adjust if necessary to fit the theme */
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: Adds a shadow for better contrast */
}


.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form input[type="text"], .login-form input[type="password"], .login-form button {
  width: calc(100% - 40px);
}

#instructions-modal {

}

#selection-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.workout-type-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.workout-btn {
  flex: 1;
  border: 1px solid white;
  background-color: #1E1E1E;
  color: white;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.workout-btn:not(:last-child) {
  margin-right: -2px;
}

#legs-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#push-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#pull-btn {
  border-radius: 0;
}

.workout-btn:hover {
  background-color: #333;
}

#start-workout-btn {
  width: auto;
  padding: 10px 20px;
}

.hide {
  display: none;
}

.completed-exercise p {
  color: gray;
}


@media (max-width: 768px) {
  .sets {
    display: block;
  }

  .set {
    margin-bottom: 5px;
  }
  
}
